{:credentials  {:github   {:username ""
                           :token    ""}
                :bugzilla {:username ""
                           :password ""}
                :rocketchat {:username "dmaiocchi" :servername "testserver" :password "roba"}}}

;; rocketchat-server reminders

;; time)
;; the reminder will be 5 minutes before the time specifided

;; *) message
;; by default the bot will print a default message "meeting at {time} {message}"
;;  --> with custom-message you can add URL-LINK to gotomeeting/boards etc.
{:reminders [
             {:channel-name "release" :time "16.30" :message "board here: https://app.gotomeeting.com/?meetingId=YOUR_NUMBER"},
             {:channel-name "feature" :time "16.00" :message "i'm just a text after the default message"},
             ]}
