;; the reminder will be 5 minutes before the time specifided

;; *) message
;; by default the bot will print a default message "meeting at {time} {message}"
;;  --> with custom-message you can add URL-LINK to gotomeeting/boards etc.

;; :team :  in the same channel can coexist differents teams, so this should be threat as ID

{:reminders [
             {:channel-name "release" :team "release" :time "16.30" :message "board here: https://app.gotomeeting.com/?meetingId=YOUR_NUMBER"},
             {:channel-name "feature" :team "feature" :time "16.00" :message "i'm just a text after the default message"},
             ]}
