{:credentials  {:github   {:username ""
                           :token    ""}
                :bugzilla {:username ""
                           :password ""}
                :rocketchat {:username "foo" :servername "testserver" :password "secret"}}}

;; rocketchat-server
{:reminders [{:channel-name: "" :time: ""}]}
